<header>
  <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
    <a class="navbar-brand">
      <img src="assets/script.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-link nav-link" [ngClass]="{'active': showTopPage}" (click)="showTopPage = true; showActivity = false;">Home</button>
      </li>
      <li *ngIf="commands.length > 0" class="nav-item">
        <button class="btn btn-link nav-link" [ngClass]="{'active': !showTopPage}" (click)="showTopPage = false">Scripts</button>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-link nav-link text-hover-light" (click)="onNew(); commandForm.form.reset(); commandModal.show();">
          <app-bytesize-icon id="i-plus" size="22" stroke="2"></app-bytesize-icon>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link text-hover-light" (click)="import(selectItem('openFile', jsonFilter))">
          <app-bytesize-icon id="i-import" size="22" stroke="2"></app-bytesize-icon>
        </button>
      </li>
      <li class="nav-item">
        <button *ngIf="commands.length > 0" class="btn btn-link nav-link text-hover-light" (click)="showTopPage = false; showFilter = true; searchInput.focus();">
          <app-bytesize-icon id="i-search" size="22" stroke="2"></app-bytesize-icon>
        </button>
      </li>
      <li class="nav-item">
        <button *ngIf="commands.length > 0" class="btn btn-link nav-link text-hover-light" (click)="showTopPage = false; showActivity = !showActivity;">
          <app-bytesize-icon id="i-activity" size="22" stroke="2"></app-bytesize-icon>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link text-hover-light" (click)="configModal.show()">
          <app-bytesize-icon id="i-settings" size="22" stroke="2"></app-bytesize-icon>
        </button>
      </li>
    </ul>
  </nav>

  <div id="searchInput" [@searchState]="showFilter || keyword ? 'show' : 'hide'">
    <input #searchInput [(ngModel)]="keyword" (ngModelChange)="filter()" (blur)="showFilter = false" type="search" class="form-control border-0 rounded-0">
    <button class="btn btn-link close" (click)="keyword = ''; showFilter = false; filter();">
      <app-bytesize-icon id="i-close" size="18"></app-bytesize-icon>
    </button>
  </div>
</header>

<main>
  <div [@top]="showTopPage" id="home" class="full-page d-flex flex-column justify-content-between">
    <div></div>
    <div class="d-flex justify-content-center">
      <div class="content-logo">
        <img alt="" src="assets/script.png">
      </div>
      <div class="content-header d-flex flex-column justify-content-center">
        <div class="mb-3">
          <h1 class="font-weight-light d-inline">ScriptTrigger</h1>
          <h1 class="font-weight-light d-inline">
            <small>v{{getAppVersion()}}</small>
          </h1>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-block btn-primary py-3 mb-3 text-relax text-uppercase" (click)="onNew(); commandForm.form.reset(); commandModal.show();">
              Create new Script
            </button>
          </div>
          <div class="col-6">
            <button class="btn btn-block btn-outline-primary py-3 mb-3 text-relax text-uppercase" (click)="configModal.show()">
              <app-bytesize-icon id="i-settings"></app-bytesize-icon>
              Setting up
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button *ngIf="commands.length > 0" class="btn btn-block btn-light border-0 rounded-0 py-4" (click)="showTopPage = false">
        <app-bytesize-icon id="i-chevron-bottom" size="26"></app-bytesize-icon>
      </button>
    </div>
  </div>

  <div [@commands]="!showTopPage" *ngIf="commands.length > 0" id="commands">
    <div [@listWithActivity]="showActivity" class="content-wrapper full-page scrollable">
      <bs-sortable [(ngModel)]="commands" [itemTemplate]="commandTemplate" (drop)="afterSort()" wrapperClass="list-group list-group-flush"
        itemClass="sortable-item list-group-item list-group-item-action flex-column align-items-start"></bs-sortable>

      <div *ngIf="!keyword" class="row no-gutters">
        <div class="col-6">
          <button type="button" class="btn btn-block btn-outline-warning border-0 rounded-0 py-4" mwlConfirmationPopover popoverTitle="Are you sure?"
            popoverMessage="Reset all Runs and Last run statistics" placement="top" appendToBody="true" (confirm)="resetAll()">Reset All</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-block btn-outline-danger border-0 rounded-0 py-4" mwlConfirmationPopover popoverTitle="Are you sure?"
            popoverMessage="Delete all commands" placement="top" appendToBody="true" (confirm)="deleteAll(); showTopPage = true;">Delete All</button>
        </div>
      </div>
    </div>
    <accordion [closeOthers]="true" [@activity]="showActivity" class="sidebar-wrapper full-page scrollable text-light bg-dark d-flex flex-column justify-content-end">
      <accordion-group *ngFor="let activity of commandService.activities; let i = index;" [isOpen]="i + 1 === commandService.activities.length">
        <div accordion-heading class="d-flex justify-content-between">
          <small>
            <app-bytesize-icon id="i-chevron-bottom" size="10" stroke="3"></app-bytesize-icon>
            {{ activity.runAt | amTimeAgo }}
          </small>
          <span *ngIf="activity.isSuccess" class="badge badge-success w-25 rounded-0">Success</span>
          <span *ngIf="!activity.isSuccess" class="badge badge-danger w-25 rounded-0">Failed</span>
        </div>
        <div *ngFor="let command of activity.commands" (click)="onView(command); commandModal.show();" class="lead clickable w-100 text-hover-primary">
          {{command.name}}
        </div>
        <div *ngIf="activity.commands.length === 0" class="lead w-100">
          <em>Scripts not found</em>
        </div>
        <div *ngIf="!activity.voice" class="px-2 small">
          triggered manually
        </div>
        <div *ngIf="activity.voice" class="px-2 small">
          by Voice:
          <em>{{activity.voice}}</em>
        </div>
        <div *ngIf="activity.response" class="small mt-3"><pre class="mb-0"><code class="text-danger text-wrap">{{activity.response}}</code></pre></div>
      </accordion-group>
    </accordion>
  </div>
</main>

<footer>
  <ng-template #commandTemplate let-item="item">
    <div class="d-flex w-100">
      <h5 class="text-primary clickable" (click)="onEdit(item.value); commandModal.show();">
        {{item.value.id}}. {{item.value.name}}
      </h5>
      <small class="ml-auto" *ngIf="item.value.lastRunAt">{{item.value.lastRunAt | amTimeAgo}}</small>
    </div>
    <div class="d-flex w-100 align-items-center">
      <pre class="my-1 mr-3"><code highlight class="text-wrap" [code]="item.value.script"></code></pre>
      <button type="button" class="btn btn-light rounded-0 showOnHover text-muted text-hover-warning" (click)="onEdit(item.value); commandModal.show();">
        <app-bytesize-icon id="i-edit"></app-bytesize-icon>
      </button>
      <button type="button" class="btn btn-light rounded-0 showOnHover text-muted text-hover-danger mr-3" mwlConfirmationPopover
        popoverTitle="Are you sure?" popoverMessage="Delete '{{item.value.name}}' permanently" (confirm)="delete(item.value)"
        placement="{{item.value.id === 1 ? 'bottom' : 'top'}}">
        <app-bytesize-icon id="i-trash"></app-bytesize-icon>
      </button>
      <div class="btn-group ml-auto">
        <button type="button" class="btn btn-danger" (click)="trigger(item.value)">Trigger
          <span class="badge badge-light">{{item.value.runs}}</span>
        </button>
      </div>
    </div>
    <small class="text-muted regex">{{item.value.voice}}&nbsp;</small>
  </ng-template>

  <div bsModal #commandModal="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <form #commandForm="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{command.id > 0 ? 'Edit' : command.id === -1 ? 'View' : 'New'}}</h5>
            <button type="button" class="close" (click)="commandModal.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <fieldset [disabled]="command.id === -1">
            <div class="modal-body">
              <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="command.name" [ngClass]="{'is-valid': name.valid && !name.pristine, 'is-invalid': !name.valid && !name.pristine}"
                    type="text" class="form-control" id="inputname" name="inputName" #name="ngModel" required>
                  <div [hidden]="name.valid || name.pristine" class="invalid-feedback">
                    Name is required
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputCommand" class="col-sm-2 col-form-label">Script</label>
                <div class="col-sm-10">
                  <textarea fz-elastic [(ngModel)]="command.script" [ngClass]="{'is-valid': script.valid && !script.pristine, 'is-invalid': !script.valid && !script.pristine}"
                    class="form-control" id="inputScript" name="inputScript" #script="ngModel" rows="1" required></textarea>
                  <div [hidden]="script.valid || script.pristine" class="invalid-feedback">
                    Script is required
                  </div>
                  <small class="form-text">
                    <a class="text-muted" placement="bottom" tabindex="-1" href="http://roualin.fr/wp-content/uploads/2017/11/powershell-cheat-sheet.jpg"
                      tooltip="http://roualin.fr/wp-content/uploads/2017/11/powershell-cheat-sheet.jpg" containerClass="nowrap">
                      Powershell syntax
                      <app-bytesize-icon id="i-external" size="12" width="2"></app-bytesize-icon>
                    </a>
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputVoice" class="col-sm-2 col-form-label">Voice</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="command.voice" [ngClass]="{'is-valid': voice.valid && !voice.pristine, 'is-invalid': !voice.valid && !voice.pristine}"
                    type="text" class="form-control" name="inputVoice" id="inputVoice" #voice="ngModel">
                  <small class="form-text">
                    <a class="text-muted" placement="bottom" tabindex="-1" href="http://files.zeroturnaround.com/pdf/zt_regular-expressions-cheat-sheet.pdf"
                      tooltip="http://files.zeroturnaround.com/pdf/zt_regular-expressions-cheat-sheet.pdf" containerClass="nowrap">
                      Regular Expressions syntax
                      <app-bytesize-icon id="i-external" size="12" width="2"></app-bytesize-icon>
                    </a>
                  </small>
                </div>
              </div>
              <ng-container *ngIf="command.voice && isContainParams(command.voice)">
                <div class="form-group row">
                  <label for="inputParams" class="col-sm-2 col-form-label">Parameters</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="command.params" [ngClass]="{'is-valid': params.valid && !params.pristine, 'is-invalid': !params.valid && !params.pristine}"
                      type="text" class="form-control" name="inputParams" id="inputParams" #params="ngModel">
                    <small class="form-text text-muted">Comma-separated value params for each (.*) in voice command</small>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="command.id">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Runs</label>
                  <div class="col-sm-10">
                    <label class="form-control-plaintext">{{command.runs}}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Last run</label>
                  <div class="col-sm-10">
                    <label class="form-control-plaintext">{{command.lastRunAt ? (command.lastRunAt | amCalendar) : 'Not run yet'}}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Updated</label>
                  <div class="col-sm-10">
                    <label class="form-control-plaintext">{{command.updatedAt | amCalendar}}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Created</label>
                  <div class="col-sm-10">
                    <label class="form-control-plaintext">{{command.createdAt | amCalendar}}</label>
                  </div>
                </div>
              </ng-container>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" mwlConfirmationPopover popoverTitle="Are you sure?" popoverMessage="Delete '{{command.name}}' permanently"
              placement="top" (confirm)="delete(); commandModal.hide();" *ngIf="command.id > 0">Delete</button>
            <button type="button" class="btn btn-secondary ml-auto" (click)="commandModal.hide()">Close</button>
            <button type="button" class="btn btn-primary" (click)="commandForm.form.valid && submit(); commandModal.hide();" *ngIf="command.id !== -1">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div bsModal #configModal="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <form #configForm="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Configuration
              <a href="#" class="text-muted small" placement="bottom" tabindex="-1" containerClass="nowrap" [tooltip]="storeService.getConfigLocation()"
                (click)="openItem(storeService.getConfigLocation())">
                <app-bytesize-icon id="i-external" size="12" width="2"></app-bytesize-icon>
              </a>
            </h5>
            <button type="button" class="close" (click)="configModal.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="inputClearActivityAfterHours" class="col-sm-3 col-form-label">Number of hours keep activity in history</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input [(ngModel)]="configuration.clearActivityAfterHours" type="number" class="form-control" id="inputClearActivityAfterHours"
                    name="inputClearActivityAfterHours" [ngClass]="{'is-valid': clearActivityAfterHours.valid, 'is-invalid': !clearActivityAfterHours.valid}"
                    #clearActivityAfterHours="ngModel" min="0" pattern="\d+">
                  <div [hidden]="clearActivityAfterHours.valid" class="invalid-feedback">
                    Invalid value, please provide a positive number
                  </div>
                </div>
                <small class="form-text text-muted">
                  Default to 48 hours, set 0 to keep all history
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPushbulletApiKey" class="col-sm-3 col-form-label">Pushbullet Api Key</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input [(ngModel)]="configuration.pushbulletApiKey" type="text" class="form-control" id="inputPushbulletApiKey" name="inputPushbulletApiKey"
                    [ngClass]="{'is-valid': pushbulletApiKey.valid, 'is-invalid': !pushbulletApiKey.valid}" #pushbulletApiKey="ngModel"
                    (ngModelChange)="verifyPushbulletApiKey(configForm.form)">
                  <div [hidden]="pushbulletApiKey.valid" class="invalid-feedback">
                    Invalid key, please provide a valid Pushbullet access token
                  </div>
                </div>
                <small class="form-text">
                  <a class="text-muted" placement="bottom" tabindex="-1" href="https://www.pushbullet.com/#settings/account" tooltip="https://www.pushbullet.com/#settings/account"
                    containerClass="nowrap">
                    Pushbullet > Settings > Create Access Token
                    <app-bytesize-icon id="i-external" size="12" width="2"></app-bytesize-icon>
                  </a>
                </small>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary ml-auto" (click)="configFormCancel(); configModal.hide()">Close</button>
            <button type="button" class="btn btn-primary" (click)="configForm.form.valid && configFormSubmit(); configModal.hide();">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</footer>