<header class="sticky-top">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#" draggable="false">
      <img src="assets/script.svg" width="30" height="30" class="d-inline-block align-top" alt=""> ScriptTrigger
    </a>
    <div class="form-inline ml-auto">
      <button type="button" class="btn btn-outline-light mr-2" (click)="onNew(); commandForm.form.reset(); commandModal.show();">New</button>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <app-bytesize-icon id="i-search"></app-bytesize-icon>
          </div>
        </div>
        <input [(ngModel)]="keyword" (ngModelChange)="filter()" class="form-control" type="search" placeholder="Filter">
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="fluid-container">
    <ng-template #itemTemplate let-item="item">
      <div class="d-flex w-100">
        <h5 class="text-primary clickable" (click)="onEdit(item.value); commandModal.show();">
          {{item.value.id}}.
          <a draggable="false">{{item.value.name}}</a>
        </h5>
        <small class="ml-auto" *ngIf="item.value.lastRunAt">{{item.value.lastRunAt | amTimeAgo}}</small>
      </div>
      <div class="d-flex w-100 align-items-center">
        <pre class="my-1 mr-3"><code highlight [code]="item.value.script"></code></pre>
        <button type="button" tooltip="Edit" class="btn btn-light rounded-0 showOnHover text-muted text-hover-warning" (click)="onEdit(item.value); commandModal.show();">
          <app-bytesize-icon id="i-edit"></app-bytesize-icon>
        </button>
        <!-- <button type="button" class="btn btn-light rounded-0 showOnHover text-muted" (click)="onDuplicate(item.value); commandModal.show();" tooltip="Duplicate">
          <app-bytesize-icon id="i-clipboard"></app-bytesize-icon>
        </button> -->
        <button type="button" tooltip="Delete" class="btn btn-light rounded-0 showOnHover text-muted text-hover-danger mr-3" mwlConfirmationPopover
          popoverTitle="Are you sure?" popoverMessage="Delete '{{item.value.name}}' permanently" placement="{{item.value.id === 1 ? 'bottom' : 'top'}}"
          (confirm)="delete(item.value)">
          <app-bytesize-icon id="i-trash"></app-bytesize-icon>
        </button>
        <div class="btn-group ml-auto">
          <button type="button" class="btn btn-danger" (click)="trigger(item.value)">Trigger
            <span class="badge badge-light">{{item.value.runs}}</span>
          </button>
        </div>
      </div>
      <small class="text-muted regex">{{item.value.voice}}&nbsp;</small>
    </ng-template>

    <bs-sortable [(ngModel)]="commands" [itemTemplate]="itemTemplate" (drop)="afterSort()" wrapperClass="list-group list-group-flush"
      itemClass="sortable-item list-group-item list-group-item-action flex-column align-items-start"></bs-sortable>

    <button type="button" class="btn btn-block btn-outline-danger border-0 rounded-0 py-4" mwlConfirmationPopover popoverTitle="Are you sure?"
      popoverMessage="Reset all Runs and Last run statistics" placement="top" (confirm)="resetAllStats()">Reset Runs</button>
  </div>

  <div bsModal #commandModal="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <form #commandForm="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{command.id ? 'Edit' : 'New'}}</h5>
            <button type="button" class="close" (click)="commandModal.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input [(ngModel)]="command.name" [ngClass]="{'is-valid': name.valid && !name.pristine, 'is-invalid': !name.valid && !name.pristine}"
                  type="text" class="form-control" id="inputname" name="inputName" #name="ngModel" required>
                <div [hidden]="name.valid || name.pristine" class="invalid-feedback">
                  Name is required
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputCommand" class="col-sm-2 col-form-label">Script</label>
              <div class="col-sm-10">
                <textarea fz-elastic [(ngModel)]="command.script" [ngClass]="{'is-valid': script.valid && !script.pristine, 'is-invalid': !script.valid && !script.pristine}"
                  class="form-control" id="inputScript" name="inputScript" #script="ngModel" rows="1" required></textarea>
                <div [hidden]="script.valid || script.pristine" class="invalid-feedback">
                  Script is required
                </div>
                <small class="form-text">
                  <a class="text-muted" placement="bottom" tabindex="-1" href="http://roualin.fr/wp-content/uploads/2017/11/powershell-cheat-sheet.jpg"
                    tooltip="http://roualin.fr/wp-content/uploads/2017/11/powershell-cheat-sheet.jpg">
                    Powershell syntax
                    <app-bytesize-icon id="i-external" size="12" width="2"></app-bytesize-icon>
                  </a>
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputVoice" class="col-sm-2 col-form-label">Voice</label>
              <div class="col-sm-10">
                <input [(ngModel)]="command.voice" [ngClass]="{'is-valid': voice.valid && !voice.pristine, 'is-invalid': !voice.valid && !voice.pristine}"
                  type="text" class="form-control" name="inputVoice" id="inputVoice" #voice="ngModel">
                <small class="form-text">
                  <a class="text-muted" placement="bottom" tabindex="-1" href="http://files.zeroturnaround.com/pdf/zt_regular-expressions-cheat-sheet.pdf"
                    tooltip="http://files.zeroturnaround.com/pdf/zt_regular-expressions-cheat-sheet.pdf">
                    Regular Expressions syntax
                    <app-bytesize-icon id="i-external" size="12" width="2"></app-bytesize-icon>
                  </a>
                </small>
              </div>
            </div>
            <ng-container *ngIf="command.voice && isContainParams(command.voice)">
              <div class="form-group row">
                <label for="inputParams" class="col-sm-2 col-form-label">Parameters</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="command.params" [ngClass]="{'is-valid': params.valid && !params.pristine, 'is-invalid': !params.valid && !params.pristine}"
                    type="text" class="form-control" name="inputParams" id="inputParams" #params="ngModel">
                  <small class="form-text text-muted">Comma-separated value params for each (.*) in voice command</small>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="command.id">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Runs</label>
                <div class="col-sm-10">
                  <label class="form-control-plaintext">{{command.runs}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Last run</label>
                <div class="col-sm-10">
                  <label class="form-control-plaintext">{{command.lastRunAt ? (command.lastRunAt | amCalendar) : 'Not run yet'}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Updated</label>
                <div class="col-sm-10">
                  <label class="form-control-plaintext">{{command.updatedAt | amCalendar}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created</label>
                <div class="col-sm-10">
                  <label class="form-control-plaintext">{{command.createdAt | amCalendar}}</label>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" mwlConfirmationPopover popoverTitle="Are you sure?" popoverMessage="Delete '{{command.name}}' permanently"
              placement="top" (confirm)="delete(); commandModal.hide();" *ngIf="command.id">Delete</button>
            <button type="button" class="btn btn-secondary ml-auto" (click)="commandModal.hide()">Close</button>
            <button type="button" class="btn btn-primary" (click)="commandForm.form.valid && submit(); commandModal.hide();">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

<footer>
</footer>