@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";

.clickable {
  cursor: pointer;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

.text-relax {
  letter-spacing: 2px;
}

.close {
  outline: none;
}

.text-wrap {
  white-space: pre-wrap;
}

header {
  nav {
    height: 60px;
  }

  #searchInput {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: $zindex-sticky;
  
    input[type=search] {
      width: 20vw;
      padding: 9px 20px;
      box-shadow: $popover-box-shadow;
  
      &:focus {
        outline: none;
      }
    }

    .close {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
    }
  }
}

main {
  margin-top: 60px;

  .full-page {
    height: calc(100vh - 60px);
  }

  #home {
    .content-logo {
      img {
        width: 50vh;
        height: 50vh;
      }
    }
    
    .content-header {
      h1 {
        font-size: 18vh;
      }
    
      button, a.btn {
        font-size: 3vh;
      }
    
      small {
        font-size: 20%;
      }
    }
  }

  #commands {
    .sidebar-wrapper {
      position: fixed;
      top: 0;
      right: 0;
      z-index: $zindex-fixed;
      width: 20vw;
      height: 100%;
      background: #000;
    }
  }
}

:host /deep/ .nowrap .tooltip-inner {
  max-width: none;
  white-space: nowrap;
}

:host /deep/ .list-group-flush {
  .list-group-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

  .list-group-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}

:host /deep/ .list-group {
  .list-group-item {
    .showOnHover {
      visibility: hidden;
    }
  
    &:hover .showOnHover {
      visibility: inherit;
    }
  }
}
