pre {
  white-space: pre-line;
}

button.close {
  outline: none;
}

:host /deep/ .nowrap .tooltip-inner {
  max-width: none;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

:host /deep/ .list-group {
  /deep/ .list-group-item {
    .showOnHover {
      visibility: hidden;
    }
  
    &:hover .showOnHover {
      visibility: inherit;
    }
  }
}
