<!-- <label [for]="id" class="col-sm-2 col-form-label">{{label}}</label>
<div class="col-sm-10" [formGroup]="form">
  {{form.pristine}} - {{field.pristine}}
  <input #field="ngModel" [id]="id" name="{{id}}" [required]="required" [ngModel]="model" (ngModelChange)="change($event)" [ngClass]="{'is-valid': field.valid && !(form.pristine && field.pristine), 'is-invalid': !field.valid && !(form.pristine && field.pristine)}" type="text" class="form-control">
  <div [hidden]="field.valid || (form.pristine && field.pristine)" class="invalid-feedback">
    {{label}} is required
  </div>
</div> -->