$primary: #2aa198;
$secondary: #657b83;
$warning: #b58900;
$danger: #dc322f;

@import "node_modules/bootstrap/scss/bootstrap";

@mixin text-hover-variant($parent, $color) {
  #{$parent} {
    @include hover-focus {
      color: $color !important;
    }
  }
}

@each $color, $value in $theme-colors {
  @include text-hover-variant(".text-hover-#{$color}", $value);
}